@import 'style.css';
body {
  background-color: var(--colorBackground2);
}
h1 {
  font-family: var(--fontTitre);
}
h2 {
  font-family: var(--fontTexteHeavy);
}
p {
  font-family: var(--fontTexteLight);
  letter-spacing: 4px;
}
.spanImportant {
  font-weight: bold;
  text-decoration: underline;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background: var(--colorBackground1);
}
header img {
  height: 50px;
  background-color: var(--colorBackground0);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  margin-left: 50px;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
header nav ul li a {
  padding: 5px 10px;
  margin: 10px;
  font-family: var(--fontTitre);
  color: var(--colorPrincipale);
  font-size: 1.3em;
  background-color: transparent;
}
header nav ul li a:hover {
  color: var(--colorBackground2);
  text-decoration: underline var(--colorBackground0);
}
header nav ul .profil-conn {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
}
header nav ul .profil-conn .noConn {
  font-family: var(--fontTitre);
  font-style: italic;
  color: var(--colorPrincipale);
  font-size: 1.3em;
  background-color: transparent;
  margin-left: 20px;
}
.userStat {
  color: red;
}
footer {
  user-select: none;
  height: auto;
  line-height: normal;
  padding: 50px 0;
  background: var(--colorBackground1);
  margin-top: 100px;
  color: var(--colorPrincipale);
  text-align: center;
}
footer .foot {
  font-family: var(--fontTexteHeavy);
}
