@import 'style.css';

// =======================================
// =======================================
// PROFIL

#profilPage {

  display: flex;
  justify-content: space-around;

  .profilContainer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    margin: 20px auto;
    padding: 10px;
    width: 600px;
    background-color: var(--colorBackground0);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: 24px;
      color: var(--colorBackground1);
      margin-bottom: 10px;
    }

    .profil-img {
      margin: 20px 0;

      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }

    p {
      font-size: 16px;
      color: #555;
      margin: 5px 0;
    }

    .modifBT {
      margin-top: 60px;
      text-align: center;

      a {
        background-color: var(--colorPrincipale);
        font-family: var(--fontTexteHeavy);
        color: white;
        width: 220px;
        text-align: center;
        margin: 0 10px;
        padding: 10px 10px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }

      a:hover {
        background-color: var(--colorSecondaire);
      }
    }
  }

  .profilContainer-right {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    width: 800px;
    background-color: var(--colorBackground0);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: 24px;
      color: #333;
      margin-bottom: 10px;
    }

    .rightBox {
      display: grid;
      grid-template-columns: 1fr 3fr;

      .hidden {
        display: none;
      }

      .graphRad {
        text-align: justify;


      }
    }

    .graphP {
      font-size: 12px;
      font-family: var(--fontTexteHeavy);
      text-align: center;
      line-height: 20px;
      user-select: none;
    }

    .graphLink {
      background-color: var(--colorPrincipale);
      color: var(--colorBackground0);
      padding: 5px 10px;
      text-decoration: none;

      &:hover {
        background-color: var(--colorSecondaire);
      }

    }

    .resultsComp {
      background-color: var(--colorTertiaire);
      border-radius: 25px;
      font-family: var(--fontTexteLight);
      color: var(--colorBackground0);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

    }

    .radarChart {
      width: 600px;
    }

    .retourTQ {
      text-align: center;

      a {
        background-color: var(--colorPrincipale);
        font-family: var(--fontTexteHeavy);
        color: white;
        width: 220px;
        text-align: center;
        margin: 0 10px;
        padding: 10px 10px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--colorSecondaire);
        }
      }
    }
  }
}

.hidden {
  display: none;
}
