@import 'style.css';
.titreUpdate {
  color: red;
  text-align: center;
  font-size: 2.5em;
  user-select: none;
  margin-bottom: 20px;
}
.form-container-update {
  background-color: var(--colorTertiaire);
  display: flex;
  justify-content: center;
}
.form-container-update form {
  padding: 30px;
  width: 100%;
  max-width: 800px;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  gap: 20px;
  font-family: var(--fontTexteLight);
  color: var(--colorBackground0);
  font-size: 1em;
}
.form-container-update form .inputBx {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container-update form .inputBx input[type='text'],
.form-container-update form .inputBx input[type='email'],
.form-container-update form .inputBx input[type='date'],
.form-container-update form .inputBx input[type='password'] {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--colorSecondaire);
  color: var(--colorBackground0);
  font-size: 1em;
}
.form-container-update form .inputBx input[type='text']::placeholder,
.form-container-update form .inputBx input[type='email']::placeholder,
.form-container-update form .inputBx input[type='date']::placeholder,
.form-container-update form .inputBx input[type='password']::placeholder {
  color: var(--colorBackground0);
}
.form-container-update form .inputBx input[type='text']:hover,
.form-container-update form .inputBx input[type='email']:hover,
.form-container-update form .inputBx input[type='date']:hover,
.form-container-update form .inputBx input[type='password']:hover {
  border: 2px solid var(--colorBackground0);
}
.form-container-update form .inputBx input[type='file'] {
  display: none;
}
.form-container-update form .inputBx label {
  cursor: pointer;
  background-color: var(--colorSecondaire);
  color: var(--colorBackground0);
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.form-container-update form .inputBx label:hover {
  background-color: red;
}
.form-container-update form select {
  width: 95%;
  height: 40px;
  background-color: var(--colorSecondaire);
  color: var(--colorBackground0);
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-container-update form select:hover {
  border: 2px solid var(--colorBackground0);
}
.form-container-update form #mdpContainer {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 5px;
  text-align: left;
}
.form-container-update form #mdpContainer h4 {
  margin: 0;
  font-weight: bold;
}
.form-container-update form #mdpContainer p {
  margin: 5px 0;
}
.form-container-update form #mdpContainer p.invalid {
  color: red;
}
.form-container-update form input[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: var(--colorSecondaire);
  color: var(--colorBackground0);
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}
.form-container-update form input[type='submit']:hover {
  background-color: red;
}
